#cuerpo{
    background-image: url(../fondo-gris.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
    height: 530px;
    width: 400px;
    border: 2px solid black;
    box-shadow: 0 0 20px 1px rgba(0,0,0,.5);
    
}


.titulo{
    text-align: center;
    background-color: yellow;
    font-weight: bold;
}

label{
    display: block;
}
input{
   margin: 4px;
    width: 95%;
    border-radius: 15px;
}

input#crear, input#cancelar{
    cursor: pointer;
    font-weight: bold;
}
